<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

<body class="register-body">
    <%- include("../partials/header")%>

    <main class="registrarse">
        <form  method="post" action="/registrarse">

            <h1>Registrarse</h1>

            <p class="p4">Completá los siguientes datos para registrarte como usuario</p>

            <div class="nomape">

                <input type="name" name="name" id="name" value="" placeholder="nombre">

                <input type="name" name="surname" id="surname" value="" placeholder="apellido">

            </div>

            <div class="email">
                <input type="text" name="email" value="" placeholder="e-mail"> 
            </div>

             <p class="text-danger fs-6"> <%= locals.errors?.email?.msg %></p>

            <div class="data">

                <div class="contrep">
                    <input class="contr" type="password" name="password" value="" placeholder="contraseña">
                    <p class="text-danger fs-6"><%= locals.errors?.password?.msg %></p>
   

                </div>

                <div class="normas">
                    <ul>
                        <li> <i class="fa-solid fa-circle-xmark"></i>
                            <p>8 a 15 caracteres</p>
                        </li>

                        <li> <i class="fa-solid fa-circle-xmark"></i>
                            <p>Al menos una mayúscula</p>
                        </li>

                        <li> <i class="fa-solid fa-circle-xmark"></i>
                            <p>Al menos un número</p>
                        </li>

                    </ul>

                </div>
            </div>
            <div class="button">
                <button type="submit">Registrarse</a></button>
            </div>
            <div>
                <p class="p4">Ya tenés una cuenta? <a href="/login">Iniciar sesion</a></p>
            </div>

        </form>

    </main>

    <%- include("../partials/footer")%>
    
</body>

</html>