<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

    <body>


        <%- include("../partials/header")%>

        <main class="login-inicio">
            <h1 class="login-titulo"> Iniciar sesion</h1>
            <form action="/iniciar-sesion" method="post">

                    <div class="login-email">
                        <label class="login-email1" for="email">Email:</label>
                        <input class="login-email2" type="text" name="email" value="" placeholder="email">
                    </div>
                <p class="text-danger fs-6"> <%= locals.errors?.email?.msg %></p>

                <div class="login-contraseña">
                    <label class="login-contraseña1" for="password">contraseña:</label>
                    <input class="login-contraseña2" type="password" name="password" value="" placeholder="contraseña">
                    <p class="text-danger fs-6"><%= locals.errors?.password?.msg %></p>
                </div>

                <button class="login-ingresar" type="submit">Ingresar</a></button>

                <p id="login-cuenta">No tienes una cuenta?  <a href="/register"> Registrarse</a> </p>
            


            </form>


            </main>

            <%- include("../partials/footer")%>

    </body>

</html>